{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update-Data</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}" type="text/css">
    <style>
        .label {
            background-color: orchid;
            font-weight: 600;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
</head>

<body>
    <form action="{% url 'updatedata' pk=user.id %}" method="POST">
        {% csrf_token %}
        <table align="center" border="2" cellspacing="0" cellpadding="8">
            <tr>
                <td class="label">Name</td>
                <td id="cell1"><input type="text" name="uname" id="" placeholder="{{user.uname}}"></td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td id="cell2"><input type="email" name="email" id="" placeholder="{{user.email}}"></td>
            </tr>
            <tr>
                <td class="label">Password</td>
                <td id="cell3"><input type="password" name="passwd" id="" placeholder="{{user.password}}"></td>
            </tr>
            <tr align="center" style="background-color: orange;">
                <td colspan="2"><input type="submit" value="Update" id="btn"></td>
            </tr>
        </table>
    </form>
</body>

</html>